@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  --primary: #473BF0;
  /* main brand color */
  --text: #151B2C;
  /* body text color */
  --text-muted: #6b7280;
  /* muted text color */
  --bg: #ffffff;
  /* page background */
  --nav-bg: #ffffff;
  /* navbar background */
  --radius: 10px;
  /* button/card corner roundness */
  --font-size: 16px;
  --line-height: 1.6;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin:0;
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text);
  background: var(--bg);
}

a {
  text-decoration: none;
  color: inherit;
}

/* CONTAINER */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

[data-layout="boxed"] .container {
  max-width: 860px;
}


/* NAVBAR */

.navbar {
  position: absolute;   /* change from sticky */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background: transparent;   /* transparent */
  border-bottom: none;       /* remove line */
}

/* .navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--nav-bg);
  box-shadow: 0 2px 10px rgba(0, 0, 0, .07);
  transition: background .3s;
} */

.navbar .container {
  display: flex;
  align-items: center;
  height: 70px;
  gap: 1.5rem;
}