.navbar {
    background: #fff;
    padding: 14px 0;
    border-bottom: 1px solid #eee;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    height: 30px;
    width: auto;
    display: block;
}

.logo a {
    display: flex;
    align-items: center;
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #111;
    transition: color 0.3s ease;
}

.nav-icon:hover {
    color: #6b7280;
}

.nav-menu {
    display: flex;
    gap: 24px;
}

.nav-item {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: #111;
    transition: color 0.2s ease;
}

.nav-item:hover {
    color: #6b7280;
}

.nav-item {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: #111;
    transition: color 0.2s ease;
}

.nav-icon svg {
    display: block;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 14px;

}

.nav-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.nav-list li {
    position: relative;
}

.nav-list a {
    text-decoration: none;
    color: #111;
    font-size: 19px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 0;
    transition: color 0.2s ease;
}

.nav-list a:hover {
    color: #6b7280;
}


.dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;
    background: #fff;
    width: 260px;
    border-radius: 12px;
    padding: 16px 0;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.25s ease;
    z-index: 1000;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    font-size: 14px;
}

.dropdown-menu a:hover {
    background: #f5f5f5;
}

.dropdown:hover>.dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.has-submenu {
    position: relative;
}

.submenu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 240px;
    background: #fff;
    border-radius: 12px;
    padding: 16px 0;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);

    opacity: 0;
    visibility: hidden;
    transform: translateX(10px);
    transition: all 0.25s ease;
}

.has-submenu:hover>.submenu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}



.card {
    padding: 30px;
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: center;
}

.image-placeholder {
    height: 300px;
    background: #ddd;
    border-radius: 10px;
}

.cta {
    background: #f5f5f5;
    text-align: center;
}

.footer {
    background: #111;
    color: white;
    padding: 60px 0;
}

.footer p {
    color: #ccc;
}