.container {
  width: 1200px;
  margin: 0 auto;
}

.hero-content {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.logos-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}