<div class="container">
  <div class="px-md-12 text-center mb-9 mb-lg-18">
    <h2 class="text-center gr-text-3 mb-9">Frequently Asked Questions</h2>
    <p class="text-center gr-text-8 mb-0">Frequently Asked Questions</p>
  </div>
  <div class="accordion">
    <div class="border rounded-10 mb-3 bg-white overflow-hidden accordion-item">
      <h2 class="mb-0 py-8 pl-9 pr-7 border-bottom-0 bg-white  accordion-header"><button type="button"
          aria-expanded="true" class="accordion-button">Can I use T3Shiva for my clients?</button></h2>
      <div class="accordion-collapse collapse show">
        <div class="pt-0 pl-9 pr-15 heading-text-9 pb-9 accordion-body">
          <p>Obviously, you can opt for multisite license and use T3 Shiva for multiple websites</p>
        </div>
      </div>
    </div>
    <div class="border rounded-10 mb-3 bg-white overflow-hidden accordion-item">
      <h2 class="mb-0 py-8 pl-9 pr-7 border-bottom-0 bg-white  accordion-header"><button type="button"
          aria-expanded="false" class="accordion-button collapsed">Does it work with TYPO3?</button></h2>
      <div class="accordion-collapse collapse">
        <div class="pt-0 pl-9 pr-15 heading-text-9 pb-9 accordion-body">
          <p>With lots of unique blocks, you can easily build a pagewithout coding with TYPO3. Build your next landing
            page.</p>
        </div>
      </div>
    </div>
    <div class="border rounded-10 mb-3 bg-white overflow-hidden accordion-item">
      <h2 class="mb-0 py-8 pl-9 pr-7 border-bottom-0 bg-white  accordion-header"><button type="button"
          aria-expanded="false" class="accordion-button collapsed">Is this template fast?</button></h2>
      <div class="accordion-collapse collapse">
        <div class="pt-0 pl-9 pr-15 heading-text-9 pb-9 accordion-body">
          <p>Optimized for a smaller build size, faster dev compilation and dozens of other improvements.</p>
        </div>
      </div>
    </div>
  </div>
</div>