<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-8">
            <div class="section-title mb-13">
                <h4 class="pre-title heading-text-12 primary text-uppercase mb-9">OUR STORY</h4>
                <h2 class="title heading-text-4">We know how everything works and why your business is failing over and
                    over again.</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="about-image img-bit pt-lg-13 aos-init aos-animate"><span
                    class=" lazy-load-image-background blur lazy-load-image-loaded"
                    style="color: transparent; display: inline-block;"><img class="w-100 rounded-10"
                        src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/agency/l5-about-big.jpg"
                        alt="content section image"></span></div>
        </div>
        <div class="col-lg-7">
            <div class="justify-content-between align-items-center pl-lg-13 row">
                <div class="col-md-6">
                    <div class="about-image img-mid mt-9 mt-lg-0 aos-init aos-animate"><img class="w-100 rounded-10"
                            src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/agency/l5-about-mid.jpg"
                            alt=""></div>
                    <div class="abs-pattern gr-abs-tr-custom aos-init aos-animate"></div>
                </div>
                <div class="col-md-5">
                    <div class="about-image img-sm mt-9 mt-lg-0 aos-init aos-animate"><span
                            class=" lazy-load-image-background blur lazy-load-image-loaded"
                            style="color: transparent; display: inline-block;"><img class="rounded-10"
                                src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/agency/l5-about-sm.jpg"
                                alt="content Section"></span></div>
                </div>
                <div class="col-xl-10">
                    <div class="about-content mt-12 mt-lg-23">
                        <p class="heading-text-9">We share common trends and strategies for improving your rental income
                            and making sure you stay in high demand. With lots of unique blocks, you can easily build a
                            page without coding. Build your next landing page.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>