<section class="b2b-testimonials">

  <div class="container">

    <!-- Section Title -->
    <div class="section-title text-center">
      <h2>What People Say About Us</h2>
      <p>
        With lots of unique blocks, you can easily build a page without coding.
        Build your next landing page.
      </p>
    </div>

    <!-- Testimonial Cards -->
    <div class="testimonial-row">

      <!-- Card 1 -->
      <div class="testimonial-card">
        <img src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/b2b/l3-testimonial1.jpg" alt="Isabella Chavez">

        <p class="review">
          “You made it so simple. My new site is so much faster and easier to work with than my old site.”
        </p>

        <div class="customer">
          <h4>Isabella Chavez</h4>
          <span>Graphic Designer</span>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="testimonial-card">
        <img src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/b2b/l3-testimonial2.jpg" alt="Curtis Rhodes">

        <p class="review">
          “Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users.”
        </p>

        <div class="customer">
          <h4>Curtis Rhodes</h4>
          <span>Digital Marketer</span>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="testimonial-card">
        <img src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/b2b/l3-testimonial3.jpg" alt="Lucas Mann">

        <p class="review">
          “Must have book for all, who want to be Product Designer or Interaction Designer.”
        </p>

        <div class="customer">
          <h4>Lucas Mann</h4>
          <span>Co Founder</span>
        </div>
      </div>

    </div>

  </div>

</section>