<section class="fact-section">
  <div class="fact-container">

    <div class="fact-item">
      <h4 class="fact-number"><span class="counter">85</span>%</h4>
      <p class="fact-text">Client - Service Ratio</p>
    </div>

    <div class="fact-item">
      <h4 class="fact-number"><span class="counter">92</span>%</h4>
      <p class="fact-text">Happy Customers</p>
    </div>

    <div class="fact-item">
      <h4 class="fact-number"><span class="counter">80</span>+</h4>
      <p class="fact-text">Customer Retention Ratio</p>
    </div>

  </div>
</section>
