<div class="container">
    <div class="pt-14 pb-14 py-lg-19 border-bottom">
        <div class="align-items-center justify-content-center row">
            <div class="col-lg-6 col-md-10">
                <h2 class="title heading-text-5 mb-7 ">Ready to launch your next project?</h2>
                <div class="heading-text-8 mb-8 mb-lg-0 ">
                    <div class="line-break">With lots of unique blocks, you can easily build a page without coding.
                        Build your next TYPO3 Headless website.</div>
                </div>
            </div>
            <div class="offset-lg-2 col-lg-4 col-md-10">
                <div class="cta-btn text-lg-end text-right aos-init aos-animate" data-aos="zoom-in"
                    data-aos-duration="500" data-aos-delay="250"><a class="btn btn-primary"
                        href="/pages/contacts/contact-01">Get started</a></div>
            </div>
        </div>
    </div>
</div>