<section class="facts">
    <div class="container">
      <div class="facts-grid">

        <div class="stat-fact">
          <h4><span class="counter">85</span>%</h4>
          <p>Customers visit T3Terminal every month to get their service done.</p>
        </div>

        <div class="stat-fact">
          <h4><span class="counter">92</span>%</h4>
          <p>Satisfaction rate comes from our awesome customers.</p>
        </div>

        <div class="stat-fact">
          <h4><span class="counter">80</span>+</h4>
          <p>Average customer ratings we have got all over internet.</p>
        </div>

      </div>
    </div>
  </section>