<section class="hero-b2b">
  <div class="container">

    <div class="hero-b2b-row">

      <div class="hero-b2b-content">
        <h1>Make your business powerful with Shade.</h1>

        <p>
          With lots of unique blocks, you can easily build a page without coding.
          Build your next consultancy website within few minutes.
        </p>

        <a href="#" class="btn-primary">
          Get A Free Quote →
        </a>
      </div>

      <div class="hero-b2b-image">
        <img src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/banner/l3-hero-img.png" alt="B2B Hero">
      </div>

    </div>

  </div>
</section>