 <!-- HERO -->
  <section class="hero">
    <div class="container">


      <div class="hero-content">
        <h1>T3 Shiva, Where TYPO3 Meets ReactJs!</h1>
        <p>T3 Shiva the ultimate TYPO3 Headless Template crafted with ReactJS &amp; NextJS. Focusing on modern design
          and lightning fast speed.</p>
        <a href="#" class="btn btn-primary">
          Get Started Now
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5">
            <line x1="5" y1="12" x2="19" y2="12" />
            <polyline points="12 5 19 12 12 19" />
          </svg>
        </a>
      </div>


      <div class="hero-img">
        <img src="images/hero-banner.png" alt="T3Shiva Hero Banner" width="546" height="390" />
      </div>

    </div>
  </section>