<section class="job-directory-brand">
  <div class="container">
    <div class="justify-content-center align-items-center row">
      <div class="col-xl-8 col-lg-9 col-md-10">
        <div class="section-title text-center mb-7 mb-lg-11">
          <h2 class="title heading-text-4 mb-9">Big companies are here</h2>
          <p class="heading-text-8 px-lg-8 mb-0">With lots of unique blocks, you can easily build a page without
            coding. Build your next consultancy website within few minutes. You have a business to run. Stop
            worrying about cross-browser bugs, designing new pages.</p>
        </div>
      </div>
      <div class="col-xl-9 col-lg-10 col-md-11 col-12">
        <div class="brand-logos d-flex justify-content-center align-items-center mx-n9 flex-wrap">
          <div class="single-brand mx-7 py-7 gr-opacity-8 aos-init aos-animate" data-aos="zoom-in-right"
            data-aos-duration="500"><img alt="brand-icon" title="brand-title" loading="lazy" width="246" height="390"
              decoding="async" data-nimg="1"
              src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/brand/l4-brand1.png"
              style="color: transparent;"></div>
          <div class="single-brand mx-7 py-7 gr-opacity-8 aos-init aos-animate" data-aos="zoom-in-right"
            data-aos-duration="500"><img alt="brand-icon" title="brand-title" loading="lazy" width="546" height="390"
              decoding="async" data-nimg="1"
              src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/brand/l4-brand2.png"
              style="color: transparent;"></div>
          <div class="single-brand mx-7 py-7 gr-opacity-8 aos-init aos-animate" data-aos="zoom-in-right"
            data-aos-duration="500"><img alt="brand-icon" title="brand-title" loading="lazy" width="546" height="390"
              decoding="async" data-nimg="1"
              src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/brand/l4-brand3.png"
              style="color: transparent;"></div>
          <div class="single-brand mx-7 py-7 gr-opacity-8 aos-init aos-animate" data-aos="zoom-in-right"
            data-aos-duration="500"><img alt="brand-icon" title="brand-title" loading="lazy" width="546" height="390"
              decoding="async" data-nimg="1"
              src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/brand/l4-brand4.png"
              style="color: transparent;"></div>
          <div class="single-brand mx-7 py-7 gr-opacity-8 aos-init aos-animate" data-aos="zoom-in-right"
            data-aos-duration="500"><img alt="brand-icon" title="brand-title" loading="lazy" width="546" height="390"
              decoding="async" data-nimg="1"
              src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/brand/l4-brand5.png"
              style="color: transparent;"></div>
          <div class="single-brand mx-7 py-7 gr-opacity-8 aos-init aos-animate" data-aos="zoom-in-right"
            data-aos-duration="500"><img alt="brand-icon" title="brand-title" loading="lazy" width="546" height="390"
              decoding="async" data-nimg="1"
              src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/brand/l4-brand6.png"
              style="color: transparent;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
