<section class="job-hero">
    <div class="container">
        <div class="hero-section__row row">
            <div class="order-lg-2 col-lg-6 col-md-9 col-12">
                <div class="hero-img"><img alt="Job seeker" loading="lazy" width="546" height="390" decoding="async"
                        src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/Job_Directory/l5-hero-img.png"></div>
            </div>
            <div class="order-lg-1 text-center text-lg-start col-lg-6 col-md-10">
                <div class="hero-content mt-11 mt-lg-0">
                    <h1 class="title heading-text-2 mb-8">Find a dream job that changes life.</h1>
                    <p class="heading-text-8 mb-11">With lots of unique blocks, you can easily build a page without
                        coding. Build your next job website.</p>
                    <div class="mt-10"><a class="btn btn-primary btn-icon text-white with-icon gr-hover-y"
                            href="/pages/contacts/contact-01#c61">Get started job<i class="icon icon-tail-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
