<section class="pricing-section">

    <div class="pricing-container">

        <h2 class="pricing-title">
            FIND THE CLASS<br>
            THAT SUITS YOU
        </h2>

        <p class="pricing-subtitle">
            Unique fitness plans comes at unique price. Check your favorite plan and
            explore the best of functionalities.
        </p>

        <div class="pricing-toggle">
            <span>Monthly</span>

            <label class="switch">
                <input type="checkbox" id="priceToggle">
                <span class="toggle-slider"></span>
            </label>

            <span>Yearly</span>
            <span class="save-badge">SAVE 25%</span>
        </div>

        <div class="pricing-cards">

            <!-- STARTER -->
            <div class="pricing-card">

                <h4>STARTER</h4>

                <div class="price" data-month="19" data-year="14">$19 <span>/mo</span></div>

                <ul>
                    <li>Upto 100 Team Members</li>
                    <li>100 GB Cloud Storage</li>
                    <li>Unlimited Meetings</li>
                    <li>Premium Support</li>
                </ul>

                <button class="btn-dark">
                    Get Started Now
                </button>

            </div>

            <!-- UNLIMITED -->
            <div class="pricing-card">

                <h4>UNLIMITED</h4>

               <div class="price" data-month="99" data-year="74">$99 <span>/mo</span></div>

                <ul>
                    <li>Unlimited Team Members</li>
                    <li>Unlimited Cloud Storage</li>
                    <li>Unlimited Meetings</li>
                    <li>Premium Support</li>
                </ul>

                <button class="btn-red">
                    Get Started Now
                </button>

            </div>

            <!-- ENTERPRISE -->
            <div class="pricing-card enterprise">

                <h4>ENTERPRISE</h4>

                <p class="enterprise-text">
                    Advanced features for large teams with complex projects.
                </p>

                <ul>
                    <li>Unlimited Team Members</li>
                    <li>5TB Cloud Storage</li>
                    <li>Unlimited Meetings</li>
                    <li>Premium Support</li>
                </ul>

                <button class="btn-green">
                    Contact Sales
                </button>

            </div>

        </div>

    </div>

</section>
