<section class="testimonial-section1 pt-9 pt-lg-20 bg-default-4">
  <div class="container">

    <div class="section-title text-center mb-11 mb-lg-14">
      <h2 class="title heading-text-4 mb-6">
        What Our Fit Customers Has To Say
      </h2>
      <p class="heading-text-8 mb-0">
        Hear from our clients
      </p>
    </div>

    <div class="review-wrapper pt-9 pb-lg-25 pb-14 border-bottom">

      <div class="row justify-content-center align-items-center">

        <!-- Testimonial 1 -->
        <div class="col-xl-11 col-lg-12 mb-10 mb-lg-16">
          <div class="d-flex flex-column flex-sm-row align-items-center px-lg-7">

            <div class="testimonial-solo-image mr-12 mr-lg-19 mb-9 mb-md-0">
              <img src="/images/gym-Testimonial-img-01.jpg" alt="Diego Morata">
            </div>

            <div class="widget-text">
              <img class="rating mb-11 object-fit-cover"
                   src="/images/5-stars.png"
                   alt="Ratings">

              <h3 class="review-text heading-text-6 fw-bold mb-9">
                “I've lost 35 lbs over the past year, and with a wonderful easy-to-follow diet plan, I'm eating and performing better than ever. Thank you so much for the constant support.”
              </h3>

              <div class="d-flex flex-wrap">
                <h4 class="heading-text-9 mr-7 mb-md-0">Diego Morata</h4>
                <span class="heading-text-9 mb-0">Web Developer</span>
              </div>

            </div>

          </div>
        </div>

        <!-- Testimonial 2 -->
        <div class="col-xl-11 col-lg-12">
          <div class="d-flex flex-column flex-sm-row align-items-center px-lg-7">

            <div class="testimonial-solo-image mr-12 mr-lg-19 mb-9 mb-md-0">
              <img src="/images/gym-Testimonial-img-02.jpg" alt="Franklin Hicks">
            </div>

            <div class="widget-text">
              <img class="rating mb-11 object-fit-cover"
                   src="/images/5-stars.png"
                   alt="Ratings">

              <h3 class="review-text heading-text-6 fw-bold mb-9">
                “I started tracking my weight in March when I was 184lbs. By November I was down to 155lbs and I still go to the gym today!”
              </h3>

              <div class="d-flex flex-wrap">
                <h4 class="heading-text-9 mr-7 mb-md-0">Franklin Hicks</h4>
                <span class="heading-text-9 mb-0">Digital Marketer</span>
              </div>

            </div>

          </div>
        </div>

      </div>

      <div class="row justify-content-center">
        <div class="col-lg-7 text-center pt-10">
          <div class="more-btn testimonial-btn">
            <a class="btn-link with-icon fw-bold" href="#">
              Check all reviews
              <i class="icon icon-tail-right fw-bold"></i>
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>