<section class="testimonials-2">
  <div class="container">
    <div class="section-title text-center mb-11 mb-lg-14">
      <h2 class="title heading-text-4 mb-6">Headline</h2>
      <p class="heading-text-8 mb-0 px-lg-7 px-xl-0">Sub Headline</p>
    </div>
    <div class="review-wrapper pt-9 pb-lg-25 pb-14 border-bottom">
      <div class="justify-content-center align-items-center row">
        <div class="mb-10 mb-lg-16 col-xl-11 col-lg-12">
          <div class="d-flex px-lg-7 flex-column flex-sm-row align-items-center">
            <div class="mr-12 mr-lg-19 mb-9 mb-md-0 testimonial-solo-image">
              <img src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/team/team-image-1.png"
                alt="Diego Morata">
            </div>
            <div class="widget-text">
              <img class="rating mb-11 object-fit-cover" src="/images/5-stars.png" alt="Ratings">
              <h3 class="review-text heading-text-6 fw-bold mb-9">"OMG! I cannot believe that I have got a brand new
                landing page after getting Omega. It was super easy to edit and publish."</h3>
              <div class="d-flex flex-wrap">
                <h4 class="heading-text-9 mr-7 mb-md-0">Diego Morata</h4>
                <span class="heading-text-9 mb-0">Web Developer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-11 col-lg-12">
          <div class="d-flex px-lg-7 flex-column flex-sm-row align-items-center">
            <div class="mr-12 mr-lg-19 mb-9 mb-md-0 testimonial-solo-image">
              <img src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/team/team-image-2.png"
                alt="Franklin Hicks">
            </div>
            <div class="widget-text">
              <img class="rating mb-11 object-fit-cover" src="/images/5-stars.png" alt="Ratings">
              <h3 class="review-text heading-text-6 fw-bold mb-9">"Simply the best. Better than all the rest. I'd
                recommend this product to beginners and advanced users."</h3>
              <div class="d-flex flex-wrap">
                <h4 class="heading-text-9 mr-7 mb-md-0">Franklin Hicks</h4>
                <span class="heading-text-9 mb-0">Digital Marketer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="justify-content-center row">
        <div class="text-center pt-10 col-lg-7">
          <div class="more-btn testimonial-btn">
            <a class="btn-link with-icon fw-bold" href="/pages/services">Text Link<i class="icon icon-tail-right fw-bold"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
