<div class="testimonial-section testimonials-5 pt-lg-21 pb-lg-21 pt-12 pb-8">
  <div class="container">
    <div class="justify-content-center row">
      <div class="col-xl-6 col-lg-8 col-md-10">
        <div class="section-title text-center mb-11 mb-lg-14"></div>
      </div>
    </div>
    <div class="justify-content-around row">
      <div class="mb-9 col-lg-4 col-md-6">
        <div class="card border p-9 h-100">
          <div class="customer-img mb-9 mb-lg-14 overflow-hidden">
            <img src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/team/team-image-1.png" alt="Diego Morata"
              class="o-cover w-100">
          </div>
          <p class="review-text heading-text-7 heading-color mb-7 mb-lg-8">"OMG! I cannot believe that I have got a
            brand new landing page after getting Omega. It was super easy to edit and publish."</p>
          <div class="customer-identity d-md-flex align-items-center mt-auto">
            <h3 class="name heading-text-9 mb-2 mb-md-0 mr-3 text-blackish-blue">Diego Morata</h3>
            <p class="rank heading-text-9 mb-0 gr-color-blackish-blue-opacity-7">Web Developer</p>
          </div>
        </div>
      </div>
      <div class="mb-9 col-lg-4 col-md-6">
        <div class="card border p-9 h-100">
          <div class="customer-img mb-9 mb-lg-14 overflow-hidden">
            <img src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/team/team-image-2.png"
              alt="Franklin Hicks" class="o-cover w-100">
          </div>
          <p class="review-text heading-text-7 heading-color mb-7 mb-lg-8">"Simply the best. Better than all the rest.
            I'd recommend this product to beginners and advanced users."</p>
          <div class="customer-identity d-md-flex align-items-center mt-auto">
            <h3 class="name heading-text-9 mb-2 mb-md-0 mr-3 text-blackish-blue">Franklin Hicks</h3>
            <p class="rank heading-text-9 mb-0 gr-color-blackish-blue-opacity-7">Digital Marketer</p>
          </div>
        </div>
      </div>
      <div class="mb-9 col-lg-4 col-md-6">
        <div class="card border p-9 h-100">
          <div class="customer-img mb-9 mb-lg-14 overflow-hidden">
            <img src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/team/team-image-3.png" alt="Simply the"
              class="o-cover w-100">
          </div>
          <p class="review-text heading-text-7 heading-color mb-7 mb-lg-8">"Simply the best. Better than all the rest.
            I'd recommend this product to beginners and advanced users."</p>
          <div class="customer-identity d-md-flex align-items-center mt-auto">
            <h3 class="name heading-text-9 mb-2 mb-md-0 mr-3 text-blackish-blue">Simply the</h3>
            <p class="rank heading-text-9 mb-0 gr-color-blackish-blue-opacity-7">Advanced</p>
          </div>
        </div>
      </div>
    </div>
    <div class="justify-content-center row">
      <div class="text-center pt-10 col-lg-7">
        <div class="more-btn testimonial-btn"></div>
      </div>
    </div>
  </div>
</div>
