<div class="testimonial-section testimonials-4 pt-15 pt-lg-22 pb-15 pb-lg-25 bg-gradient-1">
  <div class="container">
    <div class="justify-content-center dark-mode-texts row">
      <div class="col-xl-6 col-lg-7 col-md-8">
        <div class="section-title text-center mb-11 mb-lg-15">
          <h2 class="title-sm heading-text-5 mb-0 text-white">Headline</h2>
          <p class="heading-text-8 mb-0 px-lg-7 px-xl-0">Sub Headline</p>
        </div>
      </div>
    </div>
    <div class="justify-content-center row">
      <div data-aos="fade-right" data-aos-duration="800" class="mb-7 col-lg-8 col-10 aos-init aos-animate">
        <div
          class="testimonial-card d-flex flex-column flex-md-row align-items-md-center border rounded-12 bg-white pt-9 pb-8 px-9 gr-hover-opacity-full">
          <div class="card-image mr-9 mb-7 mb-md-0">
            <img class="w-100" src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/team/team-image-1.png"
              alt="Diego Morata">
          </div>
          <div class="testimonial-content">
            <p class="review-text heading-text-7 heading-color mb-6">"OMG! I cannot believe that I have got a brand new
              landing page after getting Omega. It was super easy to edit and publish."</p>
            <span class="name heading-text-9 text-blackish-blue gr-opacity-7 fw-bold mb-0">Diego Morata</span>
            <p class="name heading-text-10 text-blackish-blue mb-0">Web Developer</p>
          </div>
        </div>
      </div>
      <div data-aos="fade-right" data-aos-duration="800" class="mb-7 col-lg-8 col-10 aos-init aos-animate">
        <div
          class="testimonial-card d-flex flex-column flex-md-row align-items-md-center border rounded-12 bg-white pt-9 pb-8 px-9 gr-hover-opacity-full">
          <div class="card-image mr-9 mb-7 mb-md-0">
            <img class="w-100" src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/team/team-image-4.png"
              alt="Franklin Hicks">
          </div>
          <div class="testimonial-content">
            <p class="review-text heading-text-7 heading-color mb-6">"Simply the best. Better than all the rest. I'd
              recommend this product to beginners and advanced users."</p>
            <span class="name heading-text-9 text-blackish-blue gr-opacity-7 fw-bold mb-0">Franklin Hicks</span>
            <p class="name heading-text-10 text-blackish-blue mb-0">Digital Marketer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="justify-content-center row">
      <div class="text-center pt-10 col-lg-7">
        <div class="more-btn testimonial-btn"><a class="btn-link with-icon fw-bold text-white"
            href="/pages/services">Text Link<i class="icon icon-tail-right fw-bold"></i></a></div>
      </div>
    </div>
  </div>
</div>
