<div class="container">
    <div class="section-title text-center mb-11 mb-lg-14"></div>
    <div class="review-wrapper pt-9 pb-lg-25 pb-14 border-bottom">
        <div class="justify-content-center align-items-center row">
            <div class="col-xl-11 col-lg-12">
                <div class="d-flex px-lg-7 flex-column flex-sm-row align-items-center">
                    <div class="mr-12 mr-lg-19 mb-9 mb-md-0 testimonial-solo-image"><span
                            class=" lazy-load-image-background blur lazy-load-image-loaded"
                            style="color: transparent; display: inline-block;"><img
                                src="https://t3-shiva.t3planet.com/fileadmin/ns_theme_t3shiva/agency/l5-testimonial1.jpg"
                                alt="Franklin Hicks"></span></div>
                    <div class="widget-text"><span class=" lazy-load-image-background blur lazy-load-image-loaded"
                            style="color: transparent; display: inline-block;"><img
                                class="rating mb-11 object-fit-cover" src="/images/5-stars.png"
                                alt="Ratings"></span>
                        <h3 class="review-text heading-text-6 fw-bold mb-9">“OMG! I cannot believe that I have got a
                            brand new landing page after getting Albino. It was super easy to edit and publish.”</h3>
                        <div class="d-flex flex-wrap">
                            <h4 class="heading-text-9 mr-7 mb-md-0">Franklin Hicks</h4><span
                                class="heading-text-9 mb-0">Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="justify-content-center row">
            <div class="text-center pt-10 col-lg-7">
                <div class="more-btn testimonial-btn"></div>
            </div>
        </div>
    </div>
</div>



